@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&display=swap');

/*----------------
     Theme Color
  ----------------*/ 
$accent-color: #21e6c1;
$logo-color: #FF8C00;
$main-bg-color: #071e3d;
$second-bg-color: #278ea5;
$footer-color: #272727;
$black-color: #131313;

$yt-color: #FF0000;

$js-color: #EFD81D;
$py-color: #3571A3;

/*----------------
     Components
  ----------------*/ 

body {
    background-color: $black-color;
  }

h1, h2, h3, h4, h5, h6, p, a {
  color: #aaabac;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
}





/*----------------
     NavBar
  ----------------*/ 
nav {
  background-color: $main-bg-color;

  a:hover {
    color: $accent-color;
  }
  .dropdown-menu {
    background-color: $second-bg-color;
    a {
      color: white;
    }
  }
  .btn-dark {
    background-color: $second-bg-color;
    color: white ;
  }
}

.navbar-toggler {
  color: $accent-color;
}

#nav-logo {
  font-family: 'Noto Sans JP', sans-serif;
  color:$logo-color;
  font-weight: 600;
}

/*----------------
     Typing Effect
  ----------------*/ 

.typing-effect {
  margin: auto;
  width: auto;
  h1, h2, span {
    color: gray;
  }
}


/*----------------
    You-Tube main page
  ----------------*/ 
.card {
  background-color: $black-color;
  // background-color: $accent-color;
.bg-js {
    background-color: $js-color;
    color: $black-color;
}
.bg-py {
    background-color: $py-color;
    color: white;
}
  span .bg-yt {
    color: $black-color;
  }
}

.video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

/*----------------
     pagination
  ----------------*/ 
.page-btn {
  background-color: $black-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination {
  li {
    a:focus a:hover span:focus span:hover{
      color: $black-color;
      background-color: $black-color;
      border-color: $black-color;
    }
    a {
      background-color: $accent-color;
      color: $footer-color;
      border: solid 3px $black-color;
    }
  }
  .active {
    color: white;
    background-color: $accent-color;
    border: solid 3px $black-color;
    a:hover {
      background-color: $accent-color;
      border: solid 3px $black-color;
    }
  }
}

/*----------------
     Blog Detail Page
  ----------------*/ 
  .content-section {
    background: lavender;
    height: 1000px;
    min-height: 100vh;
    padding: 1em;
  }

  .sidebar-section {
    height: 100%;
  }

  .sidebar-content {
    background: cornflowerblue;
    padding: 1em;

/*----------------
     Footer
  ----------------*/ 
  footer {
    background-color: $footer-color;
  }